<div class="product-grid">
  {{#each products}}
    <div class="product-card">
      <img src="{{this.thumbnail}}" alt="{{this.title}}" class="product-img" />
      <h3>{{this.title}}</h3>
      <p>{{this.description}}</p>
      <p class="price">Precio: ${{this.price}}</p>
      <p class="stock">Stock: {{this.stock}}</p>
      <button
        class="btn-reservar"
        onclick="addToCart('{{this.id}}')"
      >Reservar</button>
    </div>
  {{/each}}
</div>